
/* reset */
*{
   margin:0; padding:0;
  }
ul li{
  list-style:none;
}
body{
 overflow-x:hidden;
 background:#f0f0f0;
}



/*  home_case*/
.home_cases{
    width: 100vw;
    height: 70vh;
    background:url("images/20170324045731157.jpg");
    background-size:100% 100%;
    background-attachment:fixed;
}


/* Main_box */
.Main_box{
	width:1094px; 
	margin:0 auto;
}
.Main_box h1{
	text-align:center;
	width:100%; 
	padding:30px;
	background:#fff;
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
	font-family: novecento_light,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 300;
    color:#999;
    line-height:60px;
    font-size:36px;
    margin-bottom:40px;
}



/* more */
.more_img{
	width:100%;
	background:#fff;
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
}
.more_img img{
	background-size:100%;
	width:100%;
	margin-top:-5px;
}



/* phone */
#phone{
	display:none;
}
