@media screen and (max-width:414px){
*{
   margin:0; padding:0; user-select:none;
  }
ul li{
  list-style:none;
}
body{
 overflow-x:hidden;
 background:#f0f0f0;
}


/* home_about */
.home_about{
  width: 100%;
  height: 13.458937198067632rem;
  background:url("images/gywm_banner.jpg");
  background-size:135% 60%;
  background-attachment:fixed;
}


/* content */
.fixed_box{
	width:16rem;
	margin:0 auto;
}


/* brand */
.brand{
	height:6rem;
	padding:0.7729rem;
	background:#fff;
}
.brand h2{
	margin-bottom: 10px;
    cursor: default;
    font-size: 0.927rem;
    color: #999;
	font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 400;
    margin-left:0.001rem;
    padding-top:0.001rem;
}
.brand h2 span{
	font-size: 0.927rem;
	cursor: default;
	font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 400;
    color:#999;
    margin-left:0.4rem;
}
.brand p{
	width:14.8rem;
	font-family: Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size:0.541rem;
	color:#999;
	cursor: default;
	margin-left:0.001rem;
	line-height:0.85rem;
}


/* character */
.character{
	height:9.353rem;
}
.character img{
	width:16rem;
	height:9.353rem;
}


/* grow */
.grow{
	height:18rem;
	background:#fff;
}
.grow_witness{
	width:13.684rem;
	height:6rem;
	padding:0.77rem;
	float:left;
}
.grow_witness h2{
	font-size: 0.9rem;
	cursor: default;
	color: #999;
	font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 400;
    margin-left:0.0001rem;
    margin-top:0.0002rem;
}
.grow_witness p{
	width:14.7rem;
	height:3.015rem;
	font-size: 0.541rem;
	cursor: default;
	color: #999;
	font-family: Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 400;
    margin-left:0.0001rem;
    margin-top:0.5rem;
}
.grow_witness h4{
	font-family: Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	cursor: default;
    font-size: 0.6rem;
    font-weight: 400;
    color:#999;
     margin-left:0.0001rem;
     margin-top:0.2rem;
     line-height:1.2rem;
}
.grow_all{
	width:20.444rem;
	height:11rem;
	float:left;
	overflow:hidden;
}
.grow_all img{
	width:20.444rem;
}



/* journey */
.journey{
	height:11rem;
	background:#ffffff;
}
.journey p{
	width:15rem;
	margin-left:0.7rem;
	font-family: Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size: 0.541rem;    
	cursor: default;
	color: #999;
	line-height:1rem;
	font-weight:500;
}
.journey p:first-of-type{
	padding-top:1.54589rem;
}




/* interact */
.interact{
	height:9rem;
	/* overflow:hidden; */
}
.interact ul li{
  float:left;
}
.interact img{
  width:16rem;
}
.interact{width:40.966rem; overflow:hidden; position:relative;}
.interact .lb{width:286.49275rem; overflow:hidden;}
.interact .lb li{width:40.966rem; overflow:hidden; float:left;}
.interact .btn{/* width:3.86473rem; height:15.3816rem;  font: 2.31884rem/2.31884rem 'SimSun'; text-align:center; color:#fff; position:absolute; top:4.6376rem;  -webkit-user-select:none; cursor:pointer;  line-height:15.0338rem; 
 transition: all .4s ease; z-index:100; */display:none;
}



/* .interact .LBtn{ left:1.1594rem;}
.fliament_left{
  display:none;
} */
/* .interact .LBtn:hover .fliament_left{
   opacity:1;
   width:42px;
  height:2px;
  background:#fff;
 transition: all .4s ease; 
}
.interact:hover  .LBtn{
  left:10px;
} */
/* .fliament_right{
  width:12px;
  height:2.8px;
  background:#fff;
  position:absolute;
  bottom:50.55%;
  right:42px;
  opacity:0;
} */



.interact .RBtn{ right:30px;}
.interact:hover  .RBtn{
  right:10px;
}
.interact .RBtn:hover .fliament_right{
  opacity:1;
  width:42px;
  height:2.8px;
  background:#fff;
  transition: all .4s ease; 
}


/* flia */
.flia_left{
  display:none;
}
.flia_right{
  display:none;
}
.car{
  display:none;
}



/* .car img{
  width:45px;
  height:23px;
}
.car .car_move img{
    transition: 1s;
    transform: translateX(0px);
    animation: left_arrow 1.5s infinite;
    z-index: 9999;
}
@keyframes left_arrow {
    0%{
          transform: translateX(-5px);
     }
     50%{
           transform: translateX(5px);
     }
    100%{
         transform: translateX(-5px);
       }
}

.car span img{
  width:26px;
  height:23px;
} */



/* made */
.made{
	height:5rem;
	background:#fff;
	padding:0.37294rem;
	box-shadow: 0 0.8rem 0.8rem rgba(0,0,0,.1);
}
.made p{
	font-family: Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size:0.541rem;
	cursor: default;
	color:#999;
	margin-bottom: 0.6rem;
	margin-left:0.4rem;
	padding-top:0.2rem;
}
.made h4{
	font-family: Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	cursor: default;
	font-size: 0.6rem;
	font-weight: 400;
	color:#999;
	margin-left:0.4rem;
}
.made h4:first-of-type{
	margin-bottom: 0.2rem;
}



/* contact */
.contact_tops{
    width:16rem;
    height:5.4782608695652173rem;
    margin:0 auto;
    padding-top:0rem;
    z-index:1000; 
  }
  #contact_ul{
    padding-top:0rem;
  }
  .contact_tops img{
    margin-left:2.5rem;
    width:10.76328502415459rem;
    height:2.9782608695652173rem;
  }
  .contact_ulw{
    width:14.067632850241546rem;
    margin:0 auto;
    margin-top:-10.875rem;
    padding-top:0rem;
  }
  .contact_ulw li{
    margin-bottom:1.258rem;
     margin-top:0rem;
  }
  .contact_word{
    padding-top:0rem;
  }
  /* footer */
  .footer{
    margin-top:2.2rem;
  }




  /* Rt_top */
.Rt_top{
  position:fixed;
  right:5px;
  bottom:5px;
  cursor:pointer;
}



/* phone */
#phones{
  display:block;
}

.ant-carousel .slick-prev:hover {
        background: rgba(0,0,0,0);
    }
    .ant-carousel .slick-next:hover{
        background: rgba(0,0,0,0);
    }
    .ant-carousel .slick-prev{
        left: 47px;
    }
    .ant-carousel .slick-prev, .ant-carousel .slick-next {
        position: absolute;
        display: block;
        height:10px;
        width:10px;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        background: rgba(0,0,0,0);
        color: transparent;
        top: 53.5%;
        margin-top: -10px;
        padding: 0;
        border: 0;
        outline: none;
        z-index: 999;
        border-radius: 6px;
    }
    .ant-carousel .slick-next {
        right: 47px;
    }

}
