/* reset */
*{
   margin:0; padding:0;
  }
ul li{
  list-style:none;
}
body{
 overflow-x:hidden;
 background:#f0f0f0;
}
/*  prizes_box*/
.prizes_box{
	width:1080px;
	overflow:hidden;
	margin:0 auto;
	
}
.prizes_box h2{
	font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-weight: 400;
    height:60px;
    line-height:60px;
    font-size: 48px;
    text-transform: uppercase;
    color: #999;
    text-align:center;
}
.prizes_box p{
	    cursor: default;
	    height:21px;
	    line-height:21px;
	    color:#999;
	    font-size: 14px;
	    font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    	font-weight: 400;
    	text-align:center;
    	margin-bottom:30px;
}
.prize_box{
	width:1080px;
	height:6300px;
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
	background:#fff;
}
/* top_prize */
.top_prize{
	height:108px;
	border-bottom: 1px solid #f0f0f0;
	line-height:108px;
}
/* h_word */
.h_word{
	font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 24px;
    font-weight:400;
    color:#999;
    padding-left:40px;
    border-bottom:1px solid #eee;
    line-height:100px;
}
/* prize_design */
.prize_design p{
	text-align:left;
	padding:40px;
	color:#000;
	line-height:26px;
}
/* printAll */
.printAll .print_one{
	width:680px;
	height:425px;
	overflow:hidden;
	margin-top:2px;
	margin-left:200px;
}
/* contact_word */
.contact_word .lights{
  font-family: novecento_light,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  font-weight: 300;
  cursor: default;
  margin-top:5px;
  font-size: 27px;
  color: #999;
}
/* phone */
#phone{
	display:none;
}
