@media screen and (max-width:414px){
*{
   margin:0; padding:0;
  }
ul li{
  list-style:none;
}
body{
 overflow-x:hidden;
 background:#f0f0f0;
}

/* 定宽 */
.fixed_news{
    width:15rem;
    height:56.579rem;
    margin:0 auto;
}
/* banner */
.home_news{
  width: 100%;
  height: 3.09178rem;
  background:#f0f0f0;
}
/* prize */
.fixed_news h2{
  cursor: default;
  font-size: 1.4rem;
  color: #999;
  font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  font-weight: 400;
  width:15rem;
  height:1.6618rem;
  line-height:2.8rem;
  text-align:center;
  margin-left:-0.0001rem;
}
/* prize */
.prize{
  height:56.579rem;
   margin-top: 1.15942rem;
}
/* prize ul */
.prize ul li{
  height:12.56038rem;
  width:15rem;
  background:#fff;
  margin-bottom:1.5rem;
  margin-left:0;
  box-shadow: 0 0.077294rem 0.077294rem rgba(0,0,0,.2);
}
.prize ul li:hover{
  box-shadow: 0 0.77294rem 0.77294rem rgba(0,0,0,.2);
  transform:translateZ(0.154589rem);
  cursor:pointer;
  transition: all .4s ease;
}
/* prize_word */
.prize_word{
  width:12.9082rem;
  height:4.4rem;
  padding:0.77294rem;
}
.prize_word h6{
  color:#999;
  padding-top:0;
  margin-bottom: 0.38647rem;
  cursor: pointer;
  font-size: 0.54106rem;
  font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  font-weight: 400;
  margin-left:0;
}
.prize_word h4{
  transition: all .4s ease;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  font-weight: 400;
  color: #999;
  margin-left:0;
  margin-bottom:0.2rem;
}
.prize ul li:hover:hover h4{
  color:#000;
  transition:.5s;
}
/* prize_word span */
.prize_word span{
  cursor: pointer;
  font-size: 12px;
  color: #c6ba9a;
  font-weight: 400;
  margin-top: 0.2rem;
  margin-left:0;

}
/* prize_lore */
.prize_lore{
  width:15rem;
  height:8.1159rem;
  overflow:hidden;
  float:right;
}
.prize_lore img{
  width:15rem;

}

/* contact */
.contact_boxs{
	margin-top:27rem;
}
/* contact_top */
.contact_tops{
    width:16rem;
    height:3.4782608695652173rem;
    margin:0 auto;
    padding-top:0rem;
    z-index:1000; 

  }
  .contact_tops img{
    position:relative;
    margin-left:2.5rem;
    width:10.76328502415459rem;
    height:2.9782608695652173rem;
  }
  /*contact_ulp  */
  .contact_ulp{
  width:200px;
  margin:0 auto;
  padding-top:40px;
}
.contact_ulp li{
  width:50px;
  height:50px;
  background:red;
  float:left;
  margin-right: 10px;
  background-color: #BFBFBF;
  border-radius: 50%;
  transition: all .4s ease;
  text-align:center;
  cursor: pointer;
}
.contact_ulp li a{
  vertical-align: middle;
}
.contact_ulp li:hover{
   box-shadow:0 0 5px #ccc,0px 0px 5px #ccc,0 0px 8px #999; 
}
/* prize_lore */
.prize_lore{
  margin-bottom:1.5458937198067633rem;
}
/* contact_word */
  .contact_word{
    padding-top:-0rem;
  }
  /* footer */
  .footer{
    margin-top:2.2rem;
    clear:both;
  }
  /* phone */
  #phones{
  	display:block;
  }
}