@media screen and (max-width:414px){
.home_design{
    width: 100vw;
    height: 40vh;
    background:url("images/20170320054508430.jpg") no-repeat;
     background-position:center center;
     background-size:200% 140%;
}

.Main_design{
	width:16rem; 
	margin:0 auto;
}
.Main_design h1{
    font-size:0.591304347826087rem;
    box-shadow: 0 0 0 0;
    text-align:center;
	margin:0 auto;
	padding:0.5rem;
	width:92.5%;
	line-height:1.2rem;
	background:#fff;
	margin-bottom:0.2rem;
}
.design_img{
	margin-top:1.258rem;
	box-shadow: 0 20px 20px rgba(0,0,0,.1);
}
.Main_design{
	width:87%;
	margin:0 auto;
	background:transparent;
	box-shadow: 0 0 0 0;
}
.Main_design img{
	background-size:100%;
	width:100%;
	margin-top:-5px;
}
.contact_topw{
	padding-top:1.5rem;
	margin:0 auto;
	width:11.246376811594203rem;
	height:2.6280193236714977rem;
}
.contact_topw img{
	width:11.246376811594203rem;
	height:2.6280193236714977rem;
}
#phone{
	display:block;
}
}