@media screen and (max-width:414px){
	*{
  		 margin:0; padding:0;
  	}
	ul li{
	  list-style:none;
	}
	html body{
		height:0%;
	}
	body{
	 	background:#f0f0f0;
	 	overflow-x:hidden;
	}
	/*  show_top*/
	.show_top{
	  position:fixed; 
	  top:0; 
	  left:0; 
	  z-index:10000;
	  width:100vw; 
	  height:50vh; 
	  background:#fff; 
	  transition: 1s;
	  animation: show_move 1s forwards;
	}
	/* show_bottom */
	.show_bottom{
	  position:fixed; 
	  top:50vh; 
	  left:0; 
	  z-index:10000;
	  width:100vw; 
	  height:50vh; 
	  background:#fff; 
	  transition: 1s;
	  animation: show_shift 1s forwards;
}
	@keyframes show_move {
	   0%{
	      top:0;
	     }
	   100%{
	      top:-50vh;
	       }
	}
	@keyframes show_shift {
	    0%{
	        top:50vh;
	      }
	    100%{
	        top:100vh;
	        }
	}
	/* home */
	.home{
		width:100%;
	 	height:100vh; 
	 	position:absolute; 
	 	top:0; 
	 	z-index:-1; 
	 	left:0; 
	}
	.home_one{
	  position:absolute; 
	  top:0;left:0;
	  width: 100%;
	  height:100vh;
	  background:url("images/index_banner_01.jpg");
	  background-size:350% 100%;
	  background-attachment:fixed;
	  background-position:center center;

	}
	.home_two{
	  position:absolute; top:0;left:0;
	  width: 100%;
	  height:100vh;
	  background:url("images/index_banner_02.jpg");
	  background-size:350% 100%;
	  background-attachment:fixed;
	  background-position:center center;

	}
	.home_three{
	  position:absolute; top:0;left:0;
	  width: 100%;
	  height:100vh;
	  background:url("images/index_banner_03.jpg");
	  background-size:350% 100%;
	  background-attachment:fixed;
	  background-position:center center;
	}
	/* animate */
	.animate{
	  position:fixed;
	  top:10.729468599033816rem;
	  left:1.618357487922705rem;
	  transform: rotateX(-30deg) rotateY(-15deg) rotateZ(0deg) translateX(-4%);
	  cursor:pointer;
	  transition:.8s;
	}
	.animate_o{
		  left:2.369565217391305rem;
		}
	.animate_s{
	  top:9.048309178743962rem;
	  left:2.069565217391305rem;
		}
	.animate:hover{
	  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(-4%); 
	  transition:.8s;
	}
	.animate:hover p{
	  width:4.251207729468599rem;
	  transition:0.4s;
	}
	/* h1 */
	.animate h1{
	  color:#fff;
	  text-transform: uppercase;
	  font-style:italic;
	  line-height:2.7053140096618358rem;
	  text-align:center;
	  font-size:1.355072463768116rem;
	  font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	}
	/* h4 */
	.animate h4{
	  color:#fff;
	  text-transform: uppercase;
	  font-style:italic;
	  line-height:1.5458937198067633rem;
	  font-size:0.6956521739130435rem;
	  text-align:center;
	  font-weight:400;
	}
	/* h6 */
	.animate h6{
	  color:#fff;
	  font-size:0.5410628019323671rem;
	  font-style:italic;
	  text-align:center;
	  line-height:1.1594202898550725rem;
	  font-weight:400;
	}
	/* p */
	.animate p{
	  margin:0 auto;
	  height:1px;
	  background:#fff;
	  width:0;
	  transition:0.4s;
	}
	/* header */
	.header{
	  width:100%;
	  height:3.0917874396135265rem; 
	  left:0;
	  overflow:hidden;
	  position:fixed;
	  top:0;
	  left:0;
	  z-index:10;
	  background:#fff;
	}
	/* logo */
	.logo{
	  width:4rem;
	 height:3rem; 
	  float:left;
	  cursor:pointer;
	  overflow:hidden;
	}
	.logo a{
	  padding-left:0.7729468599033816rem;
	  padding-right:0.7729468599033816rem;
	}
	.logo a img{
		margin-top:-3rem;
	    width:4rem;
	    height:6rem;
	    overflow:hidden;
	    transition:all .4s ease;
	}
	
	.logo:hover{
		background:transparent;
	}

	/* nav */
	.nav{
		display:none;
	}
	.nav{
		margin-left:0px;
		width:16rem;
		height:9.66183574879227rem;
		background:#fff;
		position:fixed;
		top:10vh;
		left:0;
		z-index:80000;
	}
	.nav ul li{
		width:16rem;
		height:1.893719806763285rem;
		line-height:1.893719806763285rem;
		border-bottom:1px solid #f0f0f0;
	}
	.nav ul li a{
		color:#000;
	}
	.nav ul li:hover{
		background:#f0f0f0;
	}
	.navs{
		display:none;
	}
	.navs{
		margin-left:0px;
		width:16rem;
		height:9.66183574879227rem;
		background:#fff;
		position:fixed;
		top:10vh;
		left:0;
		z-index:80000;
	}
	.navs ul li{
		width:16rem;
		height:1.893719806763285rem;
		line-height:1.893719806763285rem;
		border-bottom:1px solid #f0f0f0;
	}
	.navs ul li:hover{
		background:#f0f0f0;
	}

	.navs ul li a{
		color:#000;
	}
	/* CASE案例 */
	.first_page{
		position: fixed;
		width:auto;
		height:auto;
		margin:auto;
		top:0;
		bottom:0;
		left:100%;
		opacity:0;
		right:0;
		transform: none;
		background:#fff;
	}
	.first_page li{
		padding-top:1rem;
	  	width:49.6%;
	  	height:15%; 
	  	float:left;
	  	text-align:center;
	  	border-right:1px solid #f0f0f0;
	  	border-bottom:1px solid #f0f0f0;
	}
	.first_page li:hover{
	  background:#fff;
	}
	.first_page li a{
	  float:left;
	  width:100%;
	}
	.first_page li a span{
	  float:left;
	  width:100%;
	}
	.first_page li a span:first-of-type{
	  height:60px;
	}
	.first_page li a span:first-of-type img{
	  text-align:center;
	  margin-top:20px;
	}
	.first_page li a span:last-of-type{
	  font-size:14px;
	  color:#333;
	}
	.back_btn{
		display:block;
	}
	.back_btn{
		width:100%; 
		height:2.5rem;
		background:#c6ba9a;
		font-size:0.7rem;
		line-height:2.5rem;
		padding-left:2rem;
		color:#fff;
	}

	/* nav_btn */
	.nav_btn{
      display: block;
      position: fixed;
      right:0;
      top:0;
      left:2.7886rem;
      cursor: pointer;
      z-index:99999999;
  }
  .nav_btn span{
      position: absolute;
      right:1.55rem;
      top:1.54557235421166305rem;
      width: 0.84557235421166305rem;
      height: 0.03455723542116631rem;
      background-color: #c6ba9a;
      border-radius: 0.917278617710583154rem;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
  }
  /* before */
  .nav_btn span:before{
      top: -0.32367170626349892rem;
      content: "";
      right: 0;
      position: absolute;
      width: 0.84557235421166305rem;
      height: 0.03455723542116631rem;
      background-color: #c6ba9a;
      transition: all .4s ease;
  }
  /* after */
  .nav_btn span:after{
      top: 0.32367170626349892rem;
      content: "";
      right: 0;
      position: absolute;
      width: 0.84557235421166305rem;
      height: 0.03455723542116631rem;
      background-color: #c6ba9a;
      transition: all .4s ease;
  }
  .nav_btn .to{
    background:transparent;
  }
  .nav_btn .to:before{
    transform:rotate(45deg);
    top:0;
  }
  .nav_btn .to:after{
    transform:rotate(-45deg);
    top:0;
  }
  .nav_btn .span{
    background:#000;
  }
  .nav_btn .span:before{
    background:#000;
  }
  .nav_btn .span:after{
    background:#000;
  }
	/*  fixedBox*/
	.fixedBox{
	  width:16rem;
	  /* margin:100vh auto 0; */
	  position:relative;
	  z-index:1;
	  background:#f0f0f0;
	}
	/* content */
	.content {
		position:relative;
	}
	.content_box  .content_h3{
	  padding-top:1.2rem;
	  margin-bottom: 0.9594202898550725rem;
	  cursor: default;
	  font-size: 0.8rem;
	  color: #999;
	  font-family: novecento_normal,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	  font-weight: 400;
	  text-align:center;
	}
	/*bundle  */
	.bundle{
	  width:4.636908212560386rem;
	  height:2.5893719806763285rem;
	  box-shadow: 0 0.07729468599033816rem 0.07729468599033816rem rgba(0,0,0,.2);
	  transition: all .4s ease;
	  position:relative;
	  background:#fff;
	  text-align:center;
	  float:left;
	  margin-bottom:0.5024154589371981rem;
	  margin-left:0.57053140096618356rem;
	  overflow:hidden;
	}
	/* bundle */
	.bundle{
	transform:scale(0);
	}
	.bundle:nth-of-type(2){
		transition:all .4s ease .2s;
	}
	.bundle:nth-of-type(3){
		transition:all .4s ease .4s;
	}
	.bundle:nth-of-type(4){
		transition:all .4s ease .6s;
	}
	.bundle:nth-of-type(5){
		transition:all .4s ease .8s;
	}
	.bundle:nth-of-type(6){
		transition:all .4s ease 1s;
	}
	/* content_bundle */
	.content_bundle ul li{
	  width:4.636908212560386rem;
	  height:2.5893719806763285rem;
	  overflow:hidden;
	}
	.content_bundle ul{
		transition:all .6s;
	}
	.content_bundle .bundle:hover{
	  box-shadow:-5px 5px 20px #ccc,5px 5px 20px #ccc,0 5px 10px #999; 
	  transform:translateZ(-10px);
	  cursor:pointer;
	}
	.content_bundle ul li:hover .word{
	 color:#333333;
	}
	.none{
		display:none;
	}
	.word{
		display:none;
	}
/* contact */
	.contact_box{
		margin-top:0;

	}
	.content_box h2{
		text-align:center;
		font-size:0.927536231884058rem;
		color:#999;
		padding-top:0rem;
		margin-bottom:0.5797101449275363rem;
	}
	/* contact_top */
	.contact_top{
	  width:16rem;
	  height:0.4782608695652173rem;
	  margin:0 auto;
	  padding-top:0rem;
	  z-index:1000; 
	}
	/* contact_ul */
	#contact_ul{
		padding-top:0rem;
	}
	.contact_tops{
		padding-top:0;
		margin-top:0;
	}
	.contact_tops img{
		padding-top:0.9562rem;
	}
	.contact_uls li{
		margin-top:0.9856rem;
	}
	/* footer_box */
	.footer_box{
		margin-top:0.9857rem;
	}
	
	

}
